.custom_body tr {
    line-height: 9px;
    font-weight: bold;
    font-size: 18px;
}

/* .custom_body td {
    vertical-align: middle;
    text-align: center;
} */

.line-row {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.login-card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.register-card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.custom-btn-theme {
    float: right;
}

.icon-btn-one {
    background-color: #6495ed;
    color: #fff;
}

.star {
    color: red;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #ED1C24;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-left: 12px;
}

.dot1 {
    height: 25px;
    width: 25px;
    background-color: #007600;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-left: 12px;
}

.span4 p {
    color: #6C757D !important;
    font-weight: bolder;
    border: 1px solid #6C757D;
    padding: 0.1rem !important;
}

/* ul .horizontal-slide {
    overflow: unset !important;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
} */
.text-size {
    font-size: 30px;
}

.tab-content {
    margin-top: 30px;
}

.rounded-2 {
    border-radius: 5px;
}

.logout-text {
    font-size: 18px;
    font-weight: bold;
}

.home-text {
    font-size: 18px;
    font-weight: bold;
}


@media only screen and (max-width: 500px) {
    .d_time {
        margin-top: 22px;
    }

    .custom-btn-theme {
        float: left;
        margin-top: 12px;
    }

    .target {
        margin-top: 20px;
    }

    .dropdown-item {
        padding: 0;
    }
}